

.modal-status{
    position:fixed;
    z-index: 99;
    width: 0;
    height:0;
    left:20em;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* visibility: hidden; */
    background: #1d1b22b4;
    opacity: 0;

}
.modal-status.modal{
    /* visibility: visible; */
    width: 100%;
    height:100vh;
    transition: all .3s ease-in-out;
    left:0;
    opacity: 1;
}



.modal-status .modal-status-wrapper {
    position: relative;
    background:#fff;
    color:var(--D1);
    margin:10em 10em;
    /* width:170vh;
    height:90vh; */

}
.modal-header{
    padding:20px;

}

.modal-status-wrapper .modal-header{
    display:flex;
    border-bottom: 1px solid #1e1d2b2e;
}
.modal-header .left-section .title h1{
    font-size: 18px;
}
.modal-header .left-section .title p{
    font-size: 14px;
    padding-right:10px;
}
.modal-header .left-section .title div{
    display:flex;
}
#privacy{
    background: none;
    border: none;
    font-weight: 700;
}




.modal-header .left-section{
    flex-grow: 1;
}

.modal-header .right-section .close-btn button{
    background: none;
    border: none;
    font-size:20px;
    cursor: pointer;
}   

.modal-header .right-section .close-btn button:hover{
    color:var(--purple5);
}

.modal-content .title-content{
    position: relative;
    height:40vh;
    width: 100%;
    overflow: hidden;
}

.modal-content .title-content .cover-image img{
   object-fit: cover;
   height: 100%;
    width:100%;
}

.modal-content .title-content .status-title{
    position: absolute;
    left:50%;
    top:50%;

    transform: translate(-50%,-50%);
    
}

.modal-content .title-content .status-title textarea{
    background:none;
    border:none;
    font-size: 40px;
    font-weight: 800;
    height:200px;
    color:var(--D8);
}

.modal-content .title-content .status-title textarea:focus{
    outline: none !important;
}



.modal-content .title-content .status-title textarea::placeholder{
    color:var(--D8);
    font-size: 40px;
    font-weight: 800;
}

.modal-content .title-content .add-img-btn{
    position: absolute;
    right:0;
    bottom:0;
    padding: 2em;
}

.modal-content .title-content .add-img-btn button{
    background: none;
    border: 2px solid var(--purple5);
    border-radius: 20px;
    font-size: 18px;
    color:var(--purple5);
    padding:15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items:center;
}

.modal-content .title-content .add-img-btn button span{

    display: flex;
    align-items:center;
}
.modal-content .title-content .add-img-btn button:hover{
    color:var(--D8);
    background: var(--purple5);
}

.modal-content .title-content .add-img-btn button i{
    font-size:23px;
}


.modal-content .status-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 20px;
    background:rgb(248, 248, 248);


}

.modal-content .status-description .desc-container textarea:focus{
    outline: none !important;
}

.modal-content .status-description .desc-container textarea{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--D1);
    font-weight: 600;
 
}

.modal-content .status-description .desc-container textarea::placeholder{
    font-size: 18px;
    color: var(--D1);
    font-weight: 600;
}


.modal-status-wrapper .modal-footer{
    position:relative;
    display:flex;
    justify-content: end; 
    align-items: center;
    object-fit: fill;
    height:68px;
    padding: 0 2em;

}

.modal-status-wrapper .modal-footer .submit-btn button{
    border:none;
    background: var(--purple5);
    font-size:14px;
    color:var(--D8);
    padding:10px 20px;
    font-weight: 600;

}


/* abyssals */

.modal-abyssals{
    position:fixed;
    z-index: 99;
    width: 0;
    height:0;
    left:20em;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* visibility: hidden; */
    background: #1d1b22b4;
    opacity: 1;

}
.modal-abyssals.modal_A{
    /* visibility: visible; */
    width: 100%;
    height:100vh;
    transition: all .3s ease-in-out;
    left:0;
    opacity: 1;
}



.modal-abyssals .modal-abyssals-wrapper {
    position: relative;
    background:#fff;
    color:var(--D1);
    margin:10em 10em;
    /* width:170vh;
    height:90vh; */

}
.modal-abyssals-header{
    padding:20px;
}

.modal-abyssals-wrapper .modal-abyssals-header{
    display:flex;
    border-bottom: 1px solid #1e1d2b2e;
}
.modal-abyssals-header .left-section .title h1{
    font-size: 18px;
}
.modal-abyssals-eader .left-section .title p{
    font-size: 14px;
    padding-right:10px;
}
.modal-abyssals-header .left-section .title div{
    display:flex;
}
#privacy{
    background: none;
    border: none;
    font-weight: 700;
}

.modal-abyssals-header .left-section{
    flex-grow: 1;
}

.modal-abyssals-header .right-section .abyssals-close-btn button{
    background: none;
    border: none;
    font-size:20px;
    cursor: pointer;
}   

.modal-abyssals-header .right-section .abyssals-close-btn button:hover{
    color:var(--purple5);
}

.modal-abyssals-content .title-content{
    position: relative;
    height:40vh;
    width: 100%;
    overflow: hidden;
}

.modal-abyssals-content .title-content .cover-image img{
   object-fit: cover;
   height: 100%;
    width:100%;
}

.modal-abyssals-content .title-content .abyssals-title{
    position: absolute;
    left:50%;
    top:50%;

    transform: translate(-50%,-50%);
    
}

.modal-abyssals-content .title-content .abyssals-title textarea{
    background:none;
    border:none;
    font-size: 40px;
    font-weight: 800;
    height:200px;
    color:var(--D8);
}

.modal-abyssals-content .title-content .abyssals-title textarea:focus{
    outline: none !important;
}



.modal-abyssals-content .title-content .abyssals-title textarea::placeholder{
    color:var(--D8);
    font-size: 40px;
    font-weight: 800;
}

.modal-abyssals-content .title-content .add-img-btn{
    position: absolute;
    right:0;
    bottom:0;
    padding: 2em;
}

.modal-abyssals-content .title-content .add-img-btn button{
    background: none;
    border: 2px solid var(--purple5);
    border-radius: 20px;
    font-size: 18px;
    color:var(--purple5);
    padding:15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items:center;
}

.modal-abyssals-content .title-content .add-img-btn button span{

    display: flex;
    align-items:center;
}
.modal-abyssals-content .title-content .add-img-btn button:hover{
    color:var(--D8);
    background: var(--purple5);
}

.modal-abyssals-content .title-content .add-img-btn button i{
    font-size:23px;
}


.modal-abyssals-content .abyssals-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 20px;
    background:rgb(248, 248, 248);


}

.modal-abyssals-content .abyssals-description .desc-container textarea:focus{
    outline: none !important;
}

.modal-abyssals-content .abyssals-description .desc-container textarea{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--D1);
    font-weight: 600;
 
}

.modal-abyssals-content .abyssals-description .desc-container textarea::placeholder{
    font-size: 18px;
    color: var(--D1);
    font-weight: 600;
}


.modal-abyssals-wrapper .modal-abyssals-footer{
    position:relative;
    display:flex;
    justify-content: end; 
    align-items: center;
    object-fit: fill;
    height:68px;
    padding: 0 2em;

}

.modal-abyssals-wrapper .modal-abyssals-footer .submit-btn button{
    border:none;
    background: var(--purple5);
    font-size:14px;
    color:var(--D8);
    padding:10px 20px;
    font-weight: 600;

}